
a {
    color: #7D94A0;

    &:hover {
        color: darken(#7D94A0, 15%);
        text-decoration: underline;
    }
}

a:focus,
button:focus {
    outline-color: #aaa;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 1rem;
}

@include media-breakpoint-up(md) {
    h2 {
        font-size: 2rem;
    }
}
